absl-py~=2.2.2 ; python_version >= "3.11" and python_version < "3.12"
accelerate~=1.6.0 ; python_version >= "3.11" and python_version < "3.12"
aiohappyeyeballs~=2.6.1 ; python_version >= "3.11" and python_version < "3.12"
aiohttp~=3.11.18 ; python_version >= "3.11" and python_version < "3.12"
aiometer~=0.5.0 ; python_version >= "3.11" and python_version < "3.12"
aiosignal~=1.3.2 ; python_version >= "3.11" and python_version < "3.12"
annotated-types~=0.7.0 ; python_version >= "3.11" and python_version < "3.12"
anthropic~=0.45.2 ; python_version >= "3.11" and python_version < "3.12"
anyio~=4.9.0 ; python_version >= "3.11" and python_version < "3.12"
anytree~=2.13.0 ; python_version >= "3.11" and python_version < "3.12"
appdirs~=1.4.4 ; python_version >= "3.11" and python_version < "3.12"
astunparse~=1.6.3 ; python_version >= "3.11" and python_version < "3.12"
attrs~=25.3.0 ; python_version >= "3.11" and python_version < "3.12"
beautifulsoup4~=4.13.4 ; python_version >= "3.11" and python_version < "3.12"
bert-score~=0.3.13 ; python_version >= "3.11" and python_version < "3.12"
bioc~=2.1 ; python_version >= "3.11" and python_version < "3.12"
blis~=1.2.1 ; python_version >= "3.11" and python_version < "3.12"
boto3~=1.38.2 ; python_version >= "3.11" and python_version < "3.12"
botocore~=1.38.2 ; python_version >= "3.11" and python_version < "3.12"
cachetools~=5.5.2 ; python_version >= "3.11" and python_version < "3.12"
catalogue~=2.0.10 ; python_version >= "3.11" and python_version < "3.12"
certifi~=2025.1.31 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer~=3.4.1 ; python_version >= "3.11" and python_version < "3.12"
click~=8.1.8 ; python_version >= "3.11" and python_version < "3.12"
cloudpathlib~=0.21.0 ; python_version >= "3.11" and python_version < "3.12"
colorama~=0.4.6 ; python_version >= "3.11" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
coloredlogs~=15.0.1 ; python_version >= "3.11" and python_version < "3.12"
confection~=0.1.5 ; python_version >= "3.11" and python_version < "3.12"
conllu~=4.5.3 ; python_version >= "3.11" and python_version < "3.12"
contourpy~=1.3.2 ; python_version >= "3.11" and python_version < "3.12"
cycler~=0.12.1 ; python_version >= "3.11" and python_version < "3.12"
cymem~=2.0.11 ; python_version >= "3.11" and python_version < "3.12"
dataclasses-json~=0.6.7 ; python_version >= "3.11" and python_version < "3.12"
datasets~=2.21.0 ; python_version >= "3.11" and python_version < "3.12"
deprecated~=1.2.18 ; python_version >= "3.11" and python_version < "3.12"
dill~=0.3.8 ; python_version >= "3.11" and python_version < "3.12"
distro~=1.9.0 ; python_version >= "3.11" and python_version < "3.12"
docopt~=0.6.2 ; python_version >= "3.11" and python_version < "3.12"
editdistance~=0.8.1 ; python_version >= "3.11" and python_version < "3.12"
eval-type-backport~=0.2.2 ; python_version >= "3.11" and python_version < "3.12"
filelock~=3.18.0 ; python_version >= "3.11" and python_version < "3.12"
flair~=0.15.1 ; python_version >= "3.11" and python_version < "3.12"
flatbuffers~=25.2.10 ; python_version >= "3.11" and python_version < "3.12"
fonttools~=4.57.0 ; python_version >= "3.11" and python_version < "3.12"
frozenlist~=1.6.0 ; python_version >= "3.11" and python_version < "3.12"
fsspec~=2024.6.1 ; python_version >= "3.11" and python_version < "3.12"
fsspec[http]~=2024.6.1 ; python_version >= "3.11" and python_version < "3.12"
ftfy~=6.3.1 ; python_version >= "3.11" and python_version < "3.12"
gast~=0.6.0 ; python_version >= "3.11" and python_version < "3.12"
gdown~=5.2.0 ; python_version >= "3.11" and python_version < "3.12"
google-ai-generativelanguage~=0.6.15 ; python_version >= "3.11" and python_version < "3.12"
google-api-core~=2.24.2 ; python_version >= "3.11" and python_version < "3.12"
google-api-core[grpc]~=2.24.2 ; python_version >= "3.11" and python_version < "3.12"
google-api-python-client~=2.168.0 ; python_version >= "3.11" and python_version < "3.12"
google-auth-httplib2~=0.2.0 ; python_version >= "3.11" and python_version < "3.12"
google-auth~=2.39.0 ; python_version >= "3.11" and python_version < "3.12"
google-generativeai~=0.8.5 ; python_version >= "3.11" and python_version < "3.12"
google-pasta~=0.2.0 ; python_version >= "3.11" and python_version < "3.12"
googleapis-common-protos~=1.70.0 ; python_version >= "3.11" and python_version < "3.12"
greenlet~=3.2.1 ; python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.11"
grpcio-status~=1.71.0 ; python_version >= "3.11" and python_version < "3.12"
grpcio~=1.71.0 ; python_version >= "3.11" and python_version < "3.12"
h11~=0.16.0 ; python_version >= "3.11" and python_version < "3.12"
h2ogpte~=1.6.27 ; python_version >= "3.11" and python_version < "3.12"
h5py~=3.13.0 ; python_version >= "3.11" and python_version < "3.12"
homoglyphs~=2.0.4 ; python_version >= "3.11" and python_version < "3.12"
httpcore~=1.0.9 ; python_version >= "3.11" and python_version < "3.12"
httplib2~=0.22.0 ; python_version >= "3.11" and python_version < "3.12"
httpx-sse~=0.4.0 ; python_version >= "3.11" and python_version < "3.12"
httpx~=0.28.1 ; python_version >= "3.11" and python_version < "3.12"
huggingface-hub~=0.30.2 ; python_version >= "3.11" and python_version < "3.12"
humanfriendly~=10.0 ; python_version >= "3.11" and python_version < "3.12"
idna~=3.10 ; python_version >= "3.11" and python_version < "3.12"
intervaltree~=3.1.0 ; python_version >= "3.11" and python_version < "3.12"
jieba~=0.42.1 ; python_version >= "3.11" and python_version < "3.12"
jinja2~=3.1.6 ; python_version >= "3.11" and python_version < "3.12"
jiter~=0.9.0 ; python_version >= "3.11" and python_version < "3.12"
jmespath~=1.0.1 ; python_version >= "3.11" and python_version < "3.12"
joblib~=1.4.2 ; python_version >= "3.11" and python_version < "3.12"
jsonlines~=4.0.0 ; python_version >= "3.11" and python_version < "3.12"
jsonpatch~=1.33 ; python_version >= "3.11" and python_version < "3.12"
jsonpointer~=3.0.0 ; python_version >= "3.11" and python_version < "3.12"
keras~=3.9.2 ; python_version >= "3.11" and python_version < "3.12"
kiwisolver~=1.4.8 ; python_version >= "3.11" and python_version < "3.12"
langchain-community~=0.3.22 ; python_version >= "3.11" and python_version < "3.12"
langchain-core~=0.3.56 ; python_version >= "3.11" and python_version < "3.12"
langchain-openai~=0.3.14 ; python_version >= "3.11" and python_version < "3.12"
langchain-text-splitters~=0.3.8 ; python_version >= "3.11" and python_version < "3.12"
langchain~=0.3.24 ; python_version >= "3.11" and python_version < "3.12"
langcodes~=3.5.0 ; python_version >= "3.11" and python_version < "3.12"
langdetect~=1.0.9 ; python_version >= "3.11" and python_version < "3.12"
langsmith~=0.1.147 ; python_version >= "3.11" and python_version < "3.12"
language-data~=1.3.0 ; python_version >= "3.11" and python_version < "3.12"
language-tool-python~=2.9.3 ; python_version >= "3.11" and python_version < "3.12"
lemminflect~=0.2.3 ; python_version >= "3.11" and python_version < "3.12"
libclang~=18.1.1 ; python_version >= "3.11" and python_version < "3.12"
lightning-utilities~=0.14.3 ; python_version >= "3.11" and python_version < "3.12"
lru-dict~=1.3.0 ; python_version >= "3.11" and python_version < "3.12"
lxml~=5.4.0 ; python_version >= "3.11" and python_version < "3.12"
marisa-trie~=1.2.1 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py~=3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markdown~=3.8 ; python_version >= "3.11" and python_version < "3.12"
markupsafe~=3.0.2 ; python_version >= "3.11" and python_version < "3.12"
marshmallow~=3.26.1 ; python_version >= "3.11" and python_version < "3.12"
matplotlib~=3.10.1 ; python_version >= "3.11" and python_version < "3.12"
mdurl~=0.1.2 ; python_version >= "3.11" and python_version < "3.12"
ml-dtypes~=0.5.1 ; python_version >= "3.11" and python_version < "3.12"
more-itertools~=10.7.0 ; python_version >= "3.11" and python_version < "3.12"
mpld3~=0.5.10 ; python_version >= "3.11" and python_version < "3.12"
mpmath~=1.3.0 ; python_version >= "3.11" and python_version < "3.12"
multidict~=6.4.3 ; python_version >= "3.11" and python_version < "3.12"
multiprocess~=0.70.16 ; python_version >= "3.11" and python_version < "3.12"
murmurhash~=1.0.12 ; python_version >= "3.11" and python_version < "3.12"
mypy-extensions~=1.1.0 ; python_version >= "3.11" and python_version < "3.12"
namex~=0.0.9 ; python_version >= "3.11" and python_version < "3.12"
nest-asyncio~=1.6.0 ; python_version >= "3.11" and python_version < "3.12"
networkx~=3.4.2 ; python_version >= "3.11" and python_version < "3.12"
nltk~=3.9.1 ; python_version >= "3.11" and python_version < "3.12"
nudenet~=3.4.2 ; python_version >= "3.11" and python_version < "3.12"
num2words~=0.5.14 ; python_version >= "3.11" and python_version < "3.12"
numpy~=1.26.4 ; python_version >= "3.11" and python_version < "3.12"
nvidia-cublas-cu12~=12.6.4.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cuda-cupti-cu12~=12.6.80 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cuda-nvrtc-cu12~=12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cuda-runtime-cu12~=12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cudnn-cu12~=9.5.1.17 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cufft-cu12~=11.3.0.4 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-curand-cu12~=10.3.7.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cusolver-cu12~=11.7.1.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cusparse-cu12~=12.5.4.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-nccl-cu12~=2.26.2 ; platform_system == "Linux" and platform_machine != "aarch64" and python_version >= "3.11" and python_version < "3.12"
nvidia-nvjitlink-cu12~=12.6.85 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-nvtx-cu12~=12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
onnxruntime~=1.21.1 ; python_version >= "3.11" and python_version < "3.12"
openai~=1.76.0 ; python_version >= "3.11" and python_version < "3.12"
opencv-python-headless~=4.11.0.86 ; python_version >= "3.11" and python_version < "3.12"
openhownet~=2.0 ; python_version >= "3.11" and python_version < "3.12"
opt-einsum~=3.4.0 ; python_version >= "3.11" and python_version < "3.12"
optree~=0.15.0 ; python_version >= "3.11" and python_version < "3.12"
orjson~=3.10.16 ; python_version >= "3.11" and python_version < "3.12" and platform_python_implementation != "PyPy"
packaging~=24.2 ; python_version >= "3.11" and python_version < "3.12"
pandas~=2.2.3 ; python_version >= "3.11" and python_version < "3.12"
pillow~=11.3.0 ; python_version >= "3.11" and python_version < "3.12"
pinyin~=0.4.0 ; python_version >= "3.11" and python_version < "3.12"
pptree~=3.1 ; python_version >= "3.11" and python_version < "3.12"
preshed~=3.0.9 ; python_version >= "3.11" and python_version < "3.12"
propcache~=0.3.1 ; python_version >= "3.11" and python_version < "3.12"
proto-plus~=1.26.1 ; python_version >= "3.11" and python_version < "3.12"
protobuf~=5.29.5 ; python_version >= "3.11" and python_version < "3.12"
psutil~=7.0.0 ; python_version >= "3.11" and python_version < "3.12"
py-readability-metrics~=1.4.5 ; python_version >= "3.11" and python_version < "3.12"
pyarrow~=19.0.1 ; python_version >= "3.11" and python_version < "3.12"
pyasn1-modules~=0.4.2 ; python_version >= "3.11" and python_version < "3.12"
pyasn1~=0.6.1 ; python_version >= "3.11" and python_version < "3.12"
pybind11~=2.13.6 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core~=2.20.1 ; python_version >= "3.11" and python_version < "3.12"
pydantic-settings~=2.9.1 ; python_version >= "3.11" and python_version < "3.12"
pydantic~=2.8.2 ; python_version >= "3.11" and python_version < "3.12"
pygments~=2.19.1 ; python_version >= "3.11" and python_version < "3.12"
pylcs~=0.1.1 ; python_version >= "3.11" and python_version < "3.12"
pyparsing~=3.2.3 ; python_version >= "3.11" and python_version < "3.12"
pyreadline3~=3.5.4 ; sys_platform == "win32" and python_version >= "3.11" and python_version < "3.12"
pysbd~=0.3.4 ; python_version >= "3.11" and python_version < "3.12"
pysocks~=1.7.1 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil~=2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
python-dotenv~=1.1.0 ; python_version >= "3.11" and python_version < "3.12"
pytorch-revgrad~=0.2.0 ; python_version >= "3.11" and python_version < "3.12"
pytz~=2025.2 ; python_version >= "3.11" and python_version < "3.12"
pyyaml~=6.0.2 ; python_version >= "3.11" and python_version < "3.12"
ragas~=0.1.19 ; python_version >= "3.11" and python_version < "3.12"
regex~=2024.11.6 ; python_version >= "3.11" and python_version < "3.12"
requests-toolbelt~=1.0.0 ; python_version >= "3.11" and python_version < "3.12"
requests~=2.32.4 ; python_version >= "3.11" and python_version < "3.12"
requests[socks]~=2.32.3 ; python_version >= "3.11" and python_version < "3.12"
rich~=13.9.4 ; python_version >= "3.11" and python_version < "3.12"
rouge-score~=0.1.2 ; python_version >= "3.11" and python_version < "3.12"
rouge~=1.0.1 ; python_version >= "3.11" and python_version < "3.12"
rsa~=4.9.1 ; python_version >= "3.11" and python_version < "3.12"
s3transfer~=0.12.0 ; python_version >= "3.11" and python_version < "3.12"
safetensors~=0.5.3 ; python_version >= "3.11" and python_version < "3.12"
scikit-learn~=1.6.1 ; python_version >= "3.11" and python_version < "3.12"
scipy~=1.15.2 ; python_version >= "3.11" and python_version < "3.12"
segtok~=1.5.11 ; python_version >= "3.11" and python_version < "3.12"
sentence-transformers~=3.4.1 ; python_version >= "3.11" and python_version < "3.12"
sentencepiece~=0.2.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools~=79.0.1 ; python_version >= "3.11" and python_version < "3.12"
shellingham~=1.5.4 ; python_version >= "3.11" and python_version < "3.12"
six~=1.17.0 ; python_version >= "3.11" and python_version < "3.12"
smart-open~=7.1.0 ; python_version >= "3.11" and python_version < "3.12"
sniffio~=1.3.1 ; python_version >= "3.11" and python_version < "3.12"
sortedcontainers~=2.4.0 ; python_version >= "3.11" and python_version < "3.12"
soupsieve~=2.7 ; python_version >= "3.11" and python_version < "3.12"
spacy-legacy~=3.0.12 ; python_version >= "3.11" and python_version < "3.12"
spacy-loggers~=1.0.5 ; python_version >= "3.11" and python_version < "3.12"
spacy~=3.8.5 ; python_version >= "3.11" and python_version < "3.12"
sqlalchemy~=2.0.40 ; python_version >= "3.11" and python_version < "3.12"
sqlitedict~=2.1.0 ; python_version >= "3.11" and python_version < "3.12"
srsly~=2.5.1 ; python_version >= "3.11" and python_version < "3.12"
sympy~=1.13.3 ; python_version >= "3.11" and python_version < "3.12"
tabulate~=0.9.0 ; python_version >= "3.11" and python_version < "3.12"
tenacity~=8.5.0 ; python_version >= "3.11" and python_version < "3.12"
tensorboard-data-server~=0.7.2 ; python_version >= "3.11" and python_version < "3.12"
tensorboard~=2.19.0 ; python_version >= "3.11" and python_version < "3.12"
tensorflow-hub~=0.16.1 ; python_version >= "3.11" and python_version < "3.12"
tensorflow-io-gcs-filesystem~=0.37.1 ; python_version >= "3.11" and python_version < "3.12"
tensorflow~=2.19.0 ; python_version >= "3.11" and python_version < "3.12"
termcolor~=3.0.1 ; python_version >= "3.11" and python_version < "3.12"
terminaltables~=3.1.10 ; python_version >= "3.11" and python_version < "3.12"
textattack~=0.3.10 ; python_version >= "3.11" and python_version < "3.12"
tf-keras~=2.19.0 ; python_version >= "3.11" and python_version < "3.12"
thinc~=8.3.4 ; python_version >= "3.11" and python_version < "3.12"
threadpoolctl~=3.6.0 ; python_version >= "3.11" and python_version < "3.12"
tiktoken~=0.9.0 ; python_version >= "3.11" and python_version < "3.12"
together~=1.5.5 ; python_version >= "3.11" and python_version < "3.12"
tokenizers~=0.21.1 ; python_version >= "3.11" and python_version < "3.12"
toml~=0.10.2 ; python_version >= "3.11" and python_version < "3.12"
torch~=2.7.1-rc1 ; python_version >= "3.11" and python_version < "3.12"
torchmetrics~=1.7.1 ; python_version >= "3.11" and python_version < "3.12"
torchvision~=0.22.1 ; python_version >= "3.11" and python_version < "3.12"
tqdm~=4.67.1 ; python_version >= "3.11" and python_version < "3.12"
transformer-smaller-training-vocab~=0.4.1 ; python_version >= "3.11" and python_version < "3.12"
transformers~=4.51.3 ; python_version >= "3.11" and python_version < "3.12"
transformers[sentencepiece,torch]~=4.51.3 ; python_version >= "3.11" and python_version < "3.12"
transformers[sentencepiece]~=4.51.3 ; python_version >= "3.11" and python_version < "3.12"
triton~=3.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.12" and python_version >= "3.11"
typer~=0.15.2 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions~=4.13.2 ; python_version >= "3.11" and python_version < "3.12"
typing-inspect~=0.9.0 ; python_version >= "3.11" and python_version < "3.12"
typing-inspection~=0.4.0 ; python_version >= "3.11" and python_version < "3.12"
tzdata~=2025.2 ; python_version >= "3.11" and python_version < "3.12"
uritemplate~=4.1.1 ; python_version >= "3.11" and python_version < "3.12"
urllib3~=2.4.0 ; python_version >= "3.11" and python_version < "3.12"
wasabi~=1.1.3 ; python_version >= "3.11" and python_version < "3.12"
wcwidth~=0.2.13 ; python_version >= "3.11" and python_version < "3.12"
weasel~=0.4.1 ; python_version >= "3.11" and python_version < "3.12"
werkzeug~=3.1.3 ; python_version >= "3.11" and python_version < "3.12"
wheel~=0.45.1 ; python_version >= "3.11" and python_version < "3.12"
wikipedia-api~=0.8.1 ; python_version >= "3.11" and python_version < "3.12"
word2number~=1.1 ; python_version >= "3.11" and python_version < "3.12"
wrapt~=1.17.2 ; python_version >= "3.11" and python_version < "3.12"
xgboost~=2.1.4 ; python_version >= "3.11" and python_version < "3.12"
xxhash~=3.5.0 ; python_version >= "3.11" and python_version < "3.12"
yarl~=1.20.0 ; python_version >= "3.11" and python_version < "3.12"
